*{
	margin:0px;
	padding:0px;
}
.NoteApplication {
  background-color: #eeffdd;
}

.NoteList {
  //position: absolute;
  float:left;
  width: 20%;
  height: 100%;
  background-color: #d0d0e0;
}
html,body{
   height: 100%;
}

.NoteEditor-attr {
   height: 28%;
   background-color: #ddffdd;
   position: relative;
}
.NoteEditor-errorPanel {
   position: absolute;
   bottom: 0px;
   height: 50%;
   width: 100%;
   overflow:auto; 
}
.NoteEditor {
  margin-left: 20%;
  background-color: #88ddff;
  width: 80%;
  height: 100%;
}
.NoteEditor-body {
  width: 95%;
  height: 70%; 
}